@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (min-width: 768px) {
    padding: 5% 10%;
  }
}

html body[data-scroll-locked] {
  @media screen and (min-width: 768px) {
    padding: 5% 10%;
  }
}

H1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33px;
}

H2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

H3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

H4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --radius-sm: 5px;
    --text: rgb(58, 67, 116);
    --promiscuous-pink: 282 83% 52%;
    --bluetiful: 230 76% 59%;
    --raven-night: 230 31% 31%;
    --snowy: 0 0% 100%;
    --cotton-ball: 231 100% 97%;
    --ghost-white: 230 60% 98%;
    --jewel-cave: 231 33% 34%;
    --ocean-night: 224 20% 49%;
    --creamy-peach: 14 83% 74%;
    --blue-mana: 204 94% 68%;
  }
}

div {
  color: hsl(var(--raven-night));
}
